@use "../../../styles/variables" as *;

.calendarWrapper {
  overflow-x: auto;
  position: relative;

  &::-webkit-scrollbar {
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $sub-500;
    border-radius: 999px;
  }
}

.header {
  min-width: 1800px;
  display: grid;
  grid-template-columns: 100px repeat(14, 1fr);

  .header_blank {
    position: sticky;
    left: 0;
    background-color: $sub-0;
  }

  .header_time {
    background-color: $sub-0;
  }
}

.table {
  width: fit-content;
  position: relative;
}

.grid_overlay {
  min-width: 1800px;
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: 100px repeat(14, 1fr);
  z-index: 1;

  .grid_line:first-child {
    position: sticky;
    left: 0;
    background-color: $sub-0;
    z-index: 2;
    border-right: none;
  }
}

.grid_line {
  border-right: 1px solid $sub-200;
}

.tableContent {
  display: flex;
  flex-direction: column;

  .row_container {
    min-width: 1800px;
    border-bottom: 1px solid $sub-200;

    .row {
      display: grid;
      grid-template-columns: 100px repeat(14, 1fr);

      .assetId {
        padding: 0.4rem;
        grid-column: span 1;
        position: sticky;
        left: 0;
        background-color: $sub-0;
        z-index: 2;
      }

      .event {
        position: relative;
        z-index: 1;
        margin: 0.2rem 0.1rem;
        height: 100%;
        height: 6rem;
        background-color: $sub-0;
        grid-column: var(--grid-colspan);
      }

      .gap {
        grid-column: var(--grid-colspan);
      }

      .first {
        grid-column: var(--grid-colspan);
      }
    }
  }
}
.event_content {
  padding: 0.4rem;
  border-radius: 0.4rem;
  display: flex;
  border: 1px solid $sub-300;
  gap: 1rem;
  height: 100%;
  .event_line {
    background-color: black;
    width: 4px;
    border-radius: 1rem;
  }
}
