@use "../../../styles/variables" as *;

.deleteConfirm {
  background-color: $sub-0;
  padding: 1rem;
  position: relative;
  z-index: 10;
  border-radius: 0.4rem;
  width: fit-content;
  margin: 12rem auto;
  width: clamp(20rem, 30%, 30rem);
}

.action {
  display: flex;
  width: fit-content;
  margin-left: auto;
  .confirm {
    background-color: $sub-1000;
    color: $sub-0;
    padding: 0cap;
  }
}
