// big group colour shade
$sub-0: #ffffff;
$sub-50: #fafafa;
$sub-100: #f5f5f5;
$sub-200: #e5e5e5;
$sub-300: #cccccc;
$sub-350: #b2b2b2;
$sub-400: #999999;
$sub-450: #7f7f7f;
$sub-500: #666666;
$sub-550: #565656;
$sub-600: #4d4d4d;
$sub-650: #404040;
$sub-700: #333333;
$sub-750: #262626;
$sub-800: #1a1a1a;
$sub-900: #0d0d0d;
$sub-1000: #000000;

$blue-50: #eff6ff;
$blue-100: #dbeafe;
$blue-200: #bfdbfe;
$blue-300: #93c5fd;
$blue-400: #60a5fa;
$blue-500: #3b82f6;
$blue-600: #2563eb;
$blue-700: #1d4ed8;
$blue-800: #1e40af;
$blue-900: #1e3a8a;

$light-blue-50: #f4f8ff;
$light-blue-100: #e6f0ff;
$light-blue-200: #cddfff;
$light-blue-300: #aac7fb;
$light-blue-400: #88b2f6;
$light-blue-500: #6fa7ef; // BASE
$light-blue-600: #4f8fe0;
$light-blue-700: #3a76c1;
$light-blue-800: #2c5c98;
$light-blue-900: #234a78;

$green-50: #f4fdf7;
$green-100: #e7fcee;
$green-200: #cdf7dd;
$green-300: #a6efc4;
$green-400: #7fe6ab;
$green-500: #58dd92;
$green-600: #3dca78;
$green-700: #2ea15e;
$green-800: #1f7845;
$green-900: #135233;

$light-green-50: #f7ffef;
$light-green-100: #edffd8;
$light-green-200: #d7feb0;
$light-green-300: #c3f791;
$light-green-400: #b0ee75;
$light-green-500: #beef6f; // BASE
$light-green-600: #9fd45a;
$light-green-700: #7fa847;
$light-green-800: #5f7d34;
$light-green-900: #425624;

$yellow-50: #fffae9;
$yellow-100: #fff4d3;
$yellow-200: #ffe9a8;
$yellow-300: #fddf86;
$yellow-400: #f7d466;
$yellow-500: #efda6f; // BASE
$yellow-600: #d4c257;
$yellow-700: #ad9c3f;
$yellow-800: #85772e;
$yellow-900: #5c521f;

$orange-50: #fff4ec;
$orange-100: #ffe8d9;
$orange-200: #ffd1b2;
$orange-300: #ffbb95;
$orange-400: #f6a47c;
$orange-500: #efa26f; // BASE
$orange-600: #d78957;
$orange-700: #b56c3f;
$orange-800: #8f532e;
$orange-900: #673a1f;

$red-50: #fef2f2;
$red-100: #fee2e2;
$red-200: #fecaca;
$red-300: #fca5a5;
$red-400: #f87171;
$red-450: #ff5555;
$red-500: #ef4444;
$red-550: #e63535;
$red-600: #dc2626;
$red-700: #b91c1c;
$red-800: #991b1b;
$red-900: #7f1d1d;

$purple-50: #fff5fd;
$purple-100: #ffeafd;
$purple-200: #ffd6f8;
$purple-300: #ffbdf5;
$purple-400: #f7a7e8;
$purple-500: #ffadf3; // BASE
$purple-600: #e294d4;
$purple-700: #b874ac;
$purple-800: #8e5684;
$purple-900: #643a5d;

$brown-50: #faf5f0;
$brown-100: #f2e8de;
$brown-200: #e6d5be;
$brown-300: #d2b99a;
$brown-400: #b89572;
$brown-500: #8d6e4f;
$brown-600: #71563f;
$brown-700: #5a4433;
$brown-800: #4a382b;
$brown-900: #3a2d23;


// color group for element
$icon:#333;
$icon-dark:#ccc;

$foreground: #1f1f1f;
$background: #ededed;

$text-normal: $sub-900;
$text-faded: $sub-500;
$text-faded2: $sub-600;
$text-faded3: $sub-700;
$text-red: $red-600;

$foreground-dark: #ededed;
$background-dark: #1f1f1f;

$text-normal-dark: $sub-100;
$text-faded-dark: $sub-350;
$text-faded2-dark: $sub-300;
$text-faded3-dark: $sub-200;
$text-red-dark: $red-450;