@keyframes fadeUp {
  from {
    transform: translateY(0.6rem) translateX(-50%);
  }
  to {
    transform: translateY(0) translateX(-50%);
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.title {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: black;
  padding: 0.2rem 0.8rem;
  border-radius: 0.2rem;
  display: none;
  animation: fadeUp 0.3s ease;
}

.tooltip:hover .title {
  display: block;
}
