.tag_collection {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  border: 0.08rem solid var(--theme-400);
  border-radius: 0.2rem;
  padding: 0.4rem;
  gap: 0.4rem;
  &:focus-within {
    border: 0.1rem solid var(--theme-1000);
  }
  .tag_body {
    border-radius: 0.4rem;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    text-wrap: wrap;
    background-color: var(--theme-200);
  }
  .tag_input {
    background-color: transparent;
    flex-grow: 1;
    outline: none;
    border: none;
  }
  .tag_delete {
    color: var(--theme-400);
  }
}
