@use "../../../styles/variables" as *;
@use "../../../styles/animations" as *;

.item_transaction {
  border-radius: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  border: 1px solid #ddd;
  &::-webkit-scrollbar {
    display: none;
  }
}
.firstItem {
  background-color: $sub-100;
  position: relative;
  z-index: 0;
}
.toggle {
  width: 3rem;
  .toggle_image {
    display: block;
    margin: 0 auto;
  }
}
.header {
  font-weight: 500;
  .header_status {
    width: 8rem;
  }
  .header_message {
    width: 20rem;
  }
  .header_action {
    width: 3rem;
  }
}

.table {
  min-width: 900px;
  table-layout: fixed;
  width: 100%;
  .assetID {
    text-wrap: nowrap;
    width: fit-content;
  }
  .username {
    color: $sub-500;
  }
  .status {
  }
  .message {
    color: $sub-500;
  }
  .endTime {
    color: $sub-500;
  }
}

.oldTransaction td {
  padding: 0.5rem 0.8rem;
  background-color: $sub-0;
  position: relative;
  z-index: -1;
}

.slideIn {
  animation: slideIn 0.3s ease forwards;
}

.slideOut {
  animation: slideOut 0.3s ease forwards;
}
