@use "../../../styles/variables" as *;

.item_transaction {
  border-radius: 1rem;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  border: 1px solid #ddd;
  &::-webkit-scrollbar {
    display: none;
  }
}
.firstItem {
  background-color: $sub-100;
}
.toggle {
  width: 3rem;
  .toggle_image {
    display: block;
    margin: 0 auto;
  }
}
.header {
  font-weight: 500;
  .header_status {
    width: 8rem;
  }
  .header_message {
    width: 20rem;
  }
  .header_action {
    width: 3rem;
  }
}

.table {
  min-width: 900px;
  table-layout: fixed;
  width: 100%;
  .assetID {
    text-wrap: nowrap;
    width: fit-content;
  }
  .username {
    color: $sub-500;
  }
  .status {
  }
  .message {
    color: $sub-500;
  }
  .endTime {
    color: $sub-500;
  }
}

.oldTransaction th {
  padding: 0.5rem 0.8rem;
  background-color: $sub-100;
}

.trashSpace {
}

.tashIcon {
  opacity: 0;
  transition: all 0.3s ease;
}
.firstItem:hover .tashIcon {
  opacity: 1;
}

@media (prefers-color-scheme: dark) {
  .firstItem {
    background-color: $sub-800;
  }
  // for fix transition bug
  .firstItem .toggle, 
  .firstItem .assetID, 
  .firstItem .username,
  .firstItem .status, 
  .firstItem .message,
  .firstItem .endTime,
  .firstItem .trashSpace {
    background-color: $sub-800;
    transition: 0.5s ease;
  }
  .firstItem:hover,
  .firstItem:hover .toggle, 
  .firstItem:hover .assetID, 
  .firstItem:hover .username, 
  .firstItem:hover .status, 
  .firstItem:hover .message, 
  .firstItem:hover .endTime, 
  .firstItem:hover .trashSpace {
    background-color: $sub-750;
  }

  .header {
    background-color: $sub-900;
  }
  
  .table {
    background-color: $sub-700;
    .username,
    .message,
    .endTime {
      color: $text-faded-dark;
    }
    .status, 
    .status h3 {
      color: $text-normal;
    }
    tbody tr:hover {
      background-color: $sub-650;
    }
  }
}