@use "../../../styles/variables" as *;

.optionsAction {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.select {
  position: absolute;
  top: 100%;
  right: 0%;
  padding: 0.4rem 0;
  border-radius: 0.2rem;
  border: 1px solid $sub-200;
  display: flex;
  flex-direction: column;
  background-color: $sub-0;
  .select_text {
    white-space: nowrap;
    width: 120px;
    padding: 0.2rem 1rem;
    color: $sub-1000;
    transition: all 0.5s ease;

    &:hover {
      background-color: $sub-200;
    }
  }
  .select_last {
    white-space: nowrap;
    width: 120px;
    padding: 0.2rem 1rem;
    color: $red-500;
    transition: all 0.5s ease;

    &:hover {
      background-color: $red-200;
    }
  }
}
