@use "../../../styles/variables" as *;

.textInput {
  display: flex;
  flex-direction: column;
  width: clamp(200px, 80%, 300px);

  .textInput_label {
    padding: 8px 0;
  }

  .textInput_require {
    color: $red-400;
  }
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.textInput_input {
  width: 100%;
  padding: 8px 40px 8px 12px; /* เพิ่ม padding ขวาสำหรับปุ่ม */
  background-color: $sub-100;
  border-radius: 4px;
  border: 0;

  &:focus {
    outline: none;
  }
}

.password_toggle {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 18px;
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.7;
  }
}
